name: Build & Release APK

on:
  workflow_dispatch: 
  push:
    branches: [ "main" ]

jobs:
  build-android:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Grant execute permission for gradlew
        run: cd android && chmod +x gradlew

      - name: Build Android APK
        run: cd android && ./gradlew assembleDebug --no-daemon

      - name: Create Release and Upload APK
        uses: softprops/action-gh-release@v1
        if: success()
        with:
          tag_name: v0.0.${{ github.run_number }}
          name: Release v0.0.${{ github.run_number }}
          body: "Build otomatis dari GitHub Actions."
          draft: false
          prerelease: false
          files: |
            android/app/build/outputs/apk/debug/app-debug.apk